@import url(./sub-header.css);
@import url(./main-content.css);

.global-main {
  position: relative;
  top: 60px;
  width: calc(100vw - 17px);
  background: var(--color-white);
  font-size: 1.3rem;
  z-index: 10;
  padding-top: 9rem;
}
