.main-content {
  position: relative;
  display: grid;
  grid-template-columns: 5fr 2fr;
  padding-inline: 2rem;
}
/* content layout section  */
.content-layout {
  height: 100%;
  background: var(--color-white);
  border-right: 1px solid var(--color-dark-20);
}
.adding-post {
  width: 100%;
  height: max-content;
  padding: 2rem;
}
.adding-post__wrapper {
  width: 100%;
  height: 100%;
}
.adding-post__profile {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  background: url(../images/avatar/3.jpg) no-repeat center;
  background-size: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.adding-post__tools {
  width: 100%;
  height: 100%;
  margin-inline-start: 1rem;
  color: var(--color-dark-50);
}
.adding-post__input {
  width: 100%;
  height: 45px;
  padding-inline: 2rem;
  background-color: var(--color-dark-10);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  margin-bottom: 1rem;
}
.adding-post__input:hover {
  background-color: var(--color-dark-20);
}
.adding-post__btns {
  width: 100%;
  height: max-content;
  gap: 1rem;
  flex-wrap: wrap;
  text-transform: capitalize;
}
.adding-post__btn {
  width: calc(100% / 4 - 1rem);
  height: 40px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: 500;
}
.adding-post__btn svg {
  margin-inline-end: 0.5rem;
  width: 18px;
  height: 18px;
}
.adding-post__btn.photo {
  background: var(--color-image-svg-bk);
}
.adding-post__btn.photo:hover {
  background: var(--color-image-svg-hover);
}
.adding-post__btn.video {
  background: var(--color-video-svg-bk);
}
.adding-post__btn.video:hover {
  background: var(--color-video-svg-hover);
}
.adding-post__btn.event {
  background: var(--color-celendar-svg-bk);
}
.adding-post__btn.event:hover {
  background: var(--color-celendar-svg-hover);
}
.adding-post__btn.article {
  background: var(--color-document-svg-bk);
}
.adding-post__btn.article:hover {
  background: var(--color-document-svg-hover);
}

/* sort post section */
.sort-post {
  width: 100%;
  height: 40px;
}
.sort-post__border {
  flex-grow: 1;
  height: 1px;
  background-color: var(--color-dark-20);
  margin-inline-end: 1rem;
}
.sort-post__content {
  flex-shrink: 0;
  width: max-content;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  padding-right: 1rem;
}
.sort-post__text {
  margin-inline-end: 1rem;
  color: var(--color-dark-50);
}
.sort-post-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: max-content;
  background-color: var(--color-white);
  border-radius: 0 0 0.5rem 0.5rem;
  -webkit-border-radius: 0 0 0.5rem 0.5rem;
  -moz-border-radius: 0 0 0.5rem 0.5rem;
  -ms-border-radius: 0 0 0.5rem 0.5rem;
  -o-border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  -ms-transition: opacity 0.3s, visibility 0.3s;
  -o-transition: opacity 0.3s, visibility 0.3s;
  z-index: 100;
}
.sort-post-dropdown.active {
  opacity: 1;
  visibility: visible;
}
.sort-post-dropdown__item {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  color: var(--color-dark-50);
}
.sort-post-dropdown__item:hover {
  background-color: var(--color-dark-10);
}
.sort-post-dropdown__item.active {
  border-left: 2px solid #008000;
}

/* posts section */
.posts-container {
  width: 100%;
}

.post {
  width: 100%;
  height: max-content;
  padding: 2rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-dark-20);
  overflow: hidden;
}
.post__author {
  justify-content: space-between;
  margin-bottom: 1rem;
}
.post__author-profile {
  flex-grow: 1;
  padding-right: 1rem;
  margin-inline-end: 1rem;
}
.post__author-profile__avatar {
  overflow: hidden;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.post__author-profile__desc {
  position: relative;
  flex-grow: 1;
  height: 85%;
  overflow: hidden;
  margin-inline-start: 1rem;
}
.post__author-profile__name,
.post__author-profile__job-title {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
  white-space: nowrap;
}
.post__author-profile__name::after,
.post__author-profile__job-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 1) 100%);
  z-index: 10;
}
.post__author-profile__name {
  top: 0;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: capitalize;
}
.post__author-profile__job-title {
  bottom: 0;
  color: var(--color-dark-50);
}
.post__author-date {
  flex-shrink: 0;
  align-self: end;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--color-dark-40);
}
.post__caption {
  width: 100%;
  margin-bottom: 1rem;
}
.post__caption__context {
  font-size: 1.4rem;
  line-height: 1.5;
}
.caption-tag {
  text-transform: lowercase;
  color: var(--color-primary);
}
.caption-tag:hover {
  text-decoration: underline;
}
.post__image {
  cursor: pointer;
  margin-bottom: 2rem;
}
.post__image__figure {
  position: relative;
  width: 100%;
  background-color: black;
  /* padding-bottom: 56.2% = aspect ratio 16:9 */
  padding-bottom: 56.2%;
}
.post__image__figure img {
  position: absolute;
  object-fit: cover;
}
.post__actions {
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}
.post__action-icon {
  min-height: 35px;
  cursor: pointer;
  min-width: 60px;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
}
.post__action-icon:hover {
  background: var(--color-dark-10);
}
.action-icon {
  width: 20px;
  height: 20px;
}
.action-counter {
  margin-inline-start: 0.5rem;
  font-weight: 600;
  color: var(--color-dark-70);
}
.post__action-icon.like.active {
  background-color: var(--color-like-bk);
}
.post__action-icon.like.active .action-counter {
  color: white;
}
.post__action-icon.like.active .action-icon {
  fill: white !important;
}
/* aside layout section  */
.aside-layout {
  position: sticky;
  top: 150px;
  height: max-content;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}
.aside-profile {
  width: 100%;
  height: 300px;
  margin-bottom: 5rem;
}
.aside-profile__wrapper {
  width: 100%;
  position: relative;
  display: block;
}
.aside__header-img {
  width: 100%;
  height: 70px;
  margin-bottom: 4rem;
}
.aside-profile__avatar {
  position: absolute;
  top: 40px;
  left: 20px;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: red;
  outline: 5px solid var(--color-white);
}

.aside-profile__info {
  width: 100%;
  padding-inline: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-dark-20);
  margin-bottom: 2rem;
}
.aside-profile__name::after,
.aside-profile__job-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 10;
}
.aside-profile__name {
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.7rem;
  position: relative;
  overflow: hidden;
}
.aside-profile__job-title {
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  color: var(--color-dark-50);
}
.aside-profile__interaction {
  width: 100%;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-dark-20);
  margin-bottom: 2rem;
}
.aside-profile__interaction > a {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-weight: 500;
}
.aside-profile__post-impressions {
  margin-bottom: 1rem;
}
.aside-profile__interaction-counter {
  font-weight: 700;
  color: var(--color-primary);
}
.aside-profile__interaction > a:hover {
  background-color: var(--me-list__link);
}
.aside-profile__btn {
  width: 100%;
  height: 30px;
  padding-inline: 2rem;
  margin-bottom: 1rem;
}
.aside-profile__btn > a {
  width: 100%;
  height: 100%;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  color: var(--color-premium);
  background-color: var(--color-premium-bk);
  transition: background 0.3s;
}
.aside-profile__btn > a:hover {
  background-color: var(--color-premium-bk-hover);
}
.bookmark {
  width: 100%;
  height: 20px;
}
.bookmark > a {
  width: max-content;
  height: 100%;
  padding-inline: 2rem;
}
.bookmark-icon {
  width: 15px;
  height: 100%;
}
.bookmark__text {
  margin-inline-start: 0.5rem;
  flex-grow: 1;
}
.aside-explore {
  width: 100%;
  height: 200px;
}
.aside-explore__heading {
  width: 100%;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}
.aside-explore__recent {
  width: 100%;
}
.aside-explore__recent-item {
  width: 100%;
}
.aside-explore__recent-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
}
.aside-explore__recent-link svg {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
.aside-explore__recent-link__text {
  display: block;
  width: 100%;
  padding-block: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-inline-start: 0.5rem;
}

.aside-explore__recent-link:hover {
  background-color: var(--me-list__link);
}
/* media query */
@media (max-width: 850px) {
  .main-content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding-inline: 2rem;
  }
  .aside-layout {
    display: none;
  }
}
@media (max-width: 650px) {
  .adding-post__btn {
    width: calc(100% / 2 - 0.5rem);
  }
}
@media (max-width: 500px) {
  .adding-post__btn {
    width: 100%;
  }
  .action-counter {
    display: none;
  }
}
@media (max-width: 440px) {
  .post__actions {
    gap: 2rem;
    justify-content: center;
  }
  .post__action-list {
    gap: 2rem;
  }
  .post__action-icon {
    min-width: max-content !important;
  }
}

/* SVG  */
symbol#image {
  stroke: var(--color-image-svg);
}
symbol#video {
  stroke: var(--color-video-svg);
}
symbol#celendar {
  stroke: var(--color-celendar-svg);
}
symbol#document {
  stroke: var(--color-document-svg);
}
#arrow-down-sort {
  fill: var(--color-dark-90);
}
#like-icon,
#comment,
#share,
#send,
#more {
  fill: var(--color-dark-80);
}
#bookmark-icon,
#group-icon {
  stroke: var(--color-dark-90);
}
#hashtag {
  fill: var(--color-dark-70);
}
