.main-content {
  position: relative;
  top: calc(50px + 3rem);
  height: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 2rem;
}
/* content layout section  */
.content-layout {
  height: 100%;
  background: var(--color-dark-30);
}
.adding-post {
  width: 100%;
  height: max-content;
  background-color: var(--color-white);
  padding: 2rem;
}
.adding-post__wrapper {
  width: 100%;
  height: 100%;
}
.adding-post__profile {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  background: url(../images/avatar/3.jpg) no-repeat center;
  background-size: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.adding-post__tools {
  width: 100%;
  height: 100%;
  margin-inline-start: 1rem;
  color: var(--color-dark-50);
}
.adding-post__input {
  width: 100%;
  height: 45px;
  padding-inline: 2rem;
  background-color: var(--color-dark-10);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  margin-bottom: 1rem;
}
.adding-post__input:hover {
  background-color: var(--color-dark-20);
}
.adding-post__btns {
  width: 100%;
  height: max-content;
  gap: 1rem;
  flex-wrap: wrap;
  text-transform: capitalize;
}
.adding-post__btn {
  width: calc(100% / 4 - 1rem);
  height: 40px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: 500;
}
.adding-post__btn svg {
  margin-inline-end: 0.5rem;
  width: 18px;
  height: 18px;
}
.adding-post__btn.photo {
  background: var(--color-image-svg-bk);
}
.adding-post__btn.photo:hover {
  background: var(--color-image-svg-hover);
}
.adding-post__btn.video {
  background: var(--color-video-svg-bk);
}
.adding-post__btn.video:hover {
  background: var(--color-video-svg-hover);
}
.adding-post__btn.event {
  background: var(--color-celendar-svg-bk);
}
.adding-post__btn.event:hover {
  background: var(--color-celendar-svg-hover);
}
.adding-post__btn.article {
  background: var(--color-document-svg-bk);
}
.adding-post__btn.article:hover {
  background: var(--color-document-svg-hover);
}

/* sort post section */
.sort-post {
  width: 100%;
  height: 40px;
}
.sort-post__border {
  flex-grow: 1;
  height: 1px;
  background-color: var(--color-dark-20);
  margin-inline-end: 1rem;
}
.sort-post__content {
  flex-shrink: 0;
  width: max-content;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  padding-right: 1rem;
}
.sort-post__text {
  margin-inline-end: 1rem;
  color: var(--color-dark-50);
}
.sort-post-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: max-content;
  background-color: var(--color-white);
  border-radius: 0 0 0.5rem 0.5rem;
  -webkit-border-radius: 0 0 0.5rem 0.5rem;
  -moz-border-radius: 0 0 0.5rem 0.5rem;
  -ms-border-radius: 0 0 0.5rem 0.5rem;
  -o-border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  -ms-transition: opacity 0.3s, visibility 0.3s;
  -o-transition: opacity 0.3s, visibility 0.3s;
}
.sort-post-dropdown.active {
  opacity: 1;
  visibility: visible;
}
.sort-post-dropdown__item {
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  color: var(--color-dark-50);
}
.sort-post-dropdown__item:hover {
  background-color: var(--color-dark-10);
}
.sort-post-dropdown__item.active {
  border-left: 2px solid #008000;
}

/* posts section */
.posts-container {
  width: 100%;
  background-color: rgb(255, 150, 101);
}

.post {
  width: 100%;
  height: max-content;
  padding: 4rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-dark-50);
  overflow: hidden;
}
.post__author {
  justify-content: space-between;
  margin-bottom: 1rem;
}
.post__author-profile {
  flex-grow: 1;
  padding-right: 1rem;
  margin-inline-end: 1rem;
}
.post__author-profile__avatar {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  background: url(../images/avatar/18.jpg) no-repeat center;
  background-size: cover;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.post__author-profile__desc {
  position: relative;
  flex-grow: 1;
  height: 75%;
  overflow: hidden;
  margin-inline-start: 1rem;
}
.post__author-profile__name,
.post__author-profile__job-title {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.post__author-profile__name::after,
.post__author-profile__job-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 1) 100%);
  z-index: 10;
}
.post__author-profile__name {
  top: 0;
  font-size: 1.4rem;
  font-weight: 600;
}
.post__author-profile__job-title {
  bottom: 0;
  color: var(--color-dark-50);
}
.post__author-date {
  flex-shrink: 0;
  align-self: end;
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--color-dark-40);
}
.post__caption {
  width: 100%;
  /* background-color: lightcoral; */
  margin-bottom: 1rem;
}
.post__caption__context {
  font-size: 1.4rem;
  line-height: 1.5;
}
.caption-tag {
  color: var(--color-primary);
}
.caption-tag:hover {
  text-decoration: underline;
}
.post__image {
  cursor: pointer;
  margin-bottom: 2rem;
}
.post__image__figure {
  position: relative;
  width: 100%;
  background-color: black;
  /* padding-bottom: 56.2% = aspect ratio 16:9 */
  padding-bottom: 56.2%;
}
.post__image__figure img {
  position: absolute;
  object-fit: cover;
}
.post__actions {
  width: 100%;
  gap: 1rem;
  flex-wrap: wrap;
}
.post__action-icon {
  min-height: 35px;
  cursor: pointer;
  min-width: 60px;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
}
.post__action-icon:hover {
  background: var(--color-dark-10);
}
.action-icon {
  width: 20px;
  height: 20px;
}
.action-counter {
  margin-inline-start: 0.5rem;
  font-weight: 600;
  color: var(--color-dark-70);
}
/* aside layout section  */
.aside-layout {
  height: 100%;
  background-color: rgb(0, 255, 242);
}

/* media query */
@media (max-width: 850px) {
  .main-content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding-inline: 2rem;
  }

  .aside-layout {
    display: none;
  }
}
@media (max-width: 650px) {
  .adding-post__btn {
    width: calc(100% / 2 - 0.5rem);
  }
}
@media (max-width: 500px) {
  .adding-post__btn {
    width: 100%;
  }
  .action-counter {
    display: none;
  }
}
@media (max-width: 440px) {
  .post__actions {
    gap: 2rem;
    justify-content: center;
  }
  .post__action-list {
    gap: 2rem;
  }
  .post__action-icon {
    min-width: max-content !important;
  }
}

/* SVG  */
symbol#image {
  stroke: var(--color-image-svg);
}
symbol#video {
  stroke: var(--color-video-svg);
}
symbol#celendar {
  stroke: var(--color-celendar-svg);
}
symbol#document {
  stroke: var(--color-document-svg);
}
#arrow-down-sort {
  fill: var(--color-dark-90);
}
#like-icon,
#comment,
#share,
#send,
#more {
  fill: var(--color-dark-80);
}
